body {
    margin: 0;
    padding: 0;
    background: #c2daeb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}

.loading {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid rgb(241, 103, 103);
    position: relative;
    animation: a1 3s linear;
}

.loading::before,
.loading::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid rgb(236, 184, 86);
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid rgb(159, 95, 219);
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(187, 102, 236);
    text-align: center;
    line-height: 175px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}